/* ---------------general rules--------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}
/* ------------------------------- */
.top-container {
    padding: 30px;
    background-color: lightgray;
}

.search-form {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    width: max-content;

}
input {
    width: 400px;
    color: rgb(110, 99, 99);
    font-size: 20px;
    padding: 3px;
    border: 1px solid #ab8f8f;
    border-radius: 5px;
}
input:focus {
    outline: none; 
    border-color: rgb(110, 99, 99); 
    box-shadow: 0 0 5px rgb(110, 99, 99); 
  }

.form-container {
    position: relative;
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #a7a2ad; 
    background-image: url("../svg/search-svg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25 25;
    width: 40px;
    color: #fff; 
    border: none;
    padding: 5px 5px; 
    border-radius: 5px; 
}
.search-button:hover,
.search-button:focus {
    background-color: #ac9e9e;
    outline: none;
}

